<ul class="menu p-4 w-80 text-base-content">
  <li class="menu-title">🧪 研究・論文カテゴリ</li>
  <li><a href="/tags/注目論文">注目の論文まとめ</a></li>
  <li><a href="/tags/疾患別">疾患別研究記事</a></li>
  <li><a href="/tags/レビュー">最新医学レビュー</a></li>
  <li><a href="/tags/海外">海外ジャーナル紹介</a></li>

  <li class="menu-title">💡 医療の今としくみ</li>
  <li><a href="/tags/制度">医療制度・現場のしくみ</a></li>
  <li><a href="/tags/予測">医療統計・予測</a></li>
  <li><a href="/tags/学会">学会・カンファレンス情報</a></li>

  <li class="menu-title">🧍 読者別おすすめ</li>
  <li><a href="/audience/pro">医療従事者向け</a></li>
  <li><a href="/audience/students">医学生・研修医向け</a></li>
  <li><a href="/audience/general">一般の方向け</a></li>
  <li><a href="/audience/family">高齢者・家族向け</a></li>
</ul>
